:root {
/* ORANGE THEME */

	--acolor:		#ff944d;
	--bcolor:		#ff6600;
	--ccolor:		#ffa95f;
	--dcolor:		#b34400;
	--ecolor:		#4d1f00;
	--fcolor:		#2f1100;
	--gcolor:		#000000;
	--hcolor:		#050505;

	--color3:		#1a0a00;
	--color16:		#2b0000;
	--color37:		#330000;

	--color15:		#131700;
	--color24:		#d98f4f10;
	--color25:		#7d8000;
	--color26:		#fff70010;
	--color28:		#c0ff0010;
	--color29:		#d9222250;
	--color31:		#ced92250;
	--color27:		#ffb300;
	--color34:		#aaaaaa;
	--color35:		#a00000;
	--color36:		#f09090;
	--color38:		#d0d0a0;
	--color42:		#222222;
	--color43:		#bb835e;
	--color44:		#8e5631;
	--color50:		#ffffff26;
}